build/
test/test_send_small_file/target/*
test/test_receive_small_file/target/*
test/test_send_many_small_files/target/*
test/test_receive_many_small_files/target/*
test/test_send_medium_file/target/*
test/test_receive_medium_file/target/*
test/test_send_big_file/target/*
test/test_receive_big_file/target/*
*.pid
*.listing
*listing_result.txt

